* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    /* height: 600vh; */
    background-color: var(--dull-white);
}

/* Universal Scrollbar Styling */
* {
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #00A4C8 #1a1a1a;
    /* Scrollbar color and background */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    /* Background color of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
    background-color: #00A4C8;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #008bb0;
    /* Slightly darker color on hover */
}


.home-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

:root {
    --blue-one: #00A4C8;
    --blue-two: #002366;
    --blue-three: #001f3f;
    --blue-four: #003153;
    --jakarta-sans: "Plus Jakarta Sans", serif;
    --dull-white: #F2F2F2;
    --poppins: "Poppins", serif;
}

/* UNIVERSAL STYLES */

.home-button {
    /* width: 200px; */
    padding: 20px 30px;
    font-family: var(--jakarta-sans);
    position: relative;
    font-weight: 600;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px;

    &:hover {
        .wave {
            top: -200px;
        }


    }

    span {
        position: relative;
        z-index: 1;
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .wave {
        width: 100%;
        height: 200px;
        background-color: var(--blue-one);
        box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        top: -80px;
        transition: 0.4s;

        &::before,
        &::after {
            width: 200%;
            height: 200%;
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -75%);
        }

        &::before {
            border-radius: 45%;
            background-color: rgba(20, 20, 20, 1);
            animation: wave 5s linear infinite;
        }

        &::after {
            border-radius: 40%;
            background-color: rgba(20, 20, 20, 0.5);
            animation: wave 10s linear infinite;
        }
    }
}

@keyframes wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.blue-text {
    color: var(--blue-one);
}

.heading {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    line-height: 3.5rem;
}

.sub-heading {
    font-family: "Plus Jakarta Sans", serif;

}

.para {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 1.125rem;
}

/* UNIVERSAL STYLES */




/* HEADER */
.header {
    width: 100%;
    background-color: #000;
}

.header-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
}

/* HEADER */



/* HOME SECTION */
.home {
    width: 100%;
    background-color: #000;
    color: white;
    /* border: 2px solid red; */
}

.home-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 0 0rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content .home-right {
    width: 50%;
    max-height: 100vh;
}

.home-content .home-left {
    width: 50%;
    margin-top: -3rem;
}


.home-content .home-left .heading {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.home-left .para {
    margin-bottom: 20px;
}






/* HOME SECTION */





.home-right {


    text-align: center;
}


.slider-container {
    display: flex;

    justify-content: center;

    gap: 50px;

    align-items: center;
    overflow: hidden;
}

.left-slider,
.right-slider {
    height: 100vh;
    /* Set a fixed height */
    overflow-y: hidden;

    /* Set a fixed width for the sliders */
}

.loops-slide-left {
    animation: slide-vertical 35s linear infinite;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
}

.loops-slide-right {
    animation: slide-vertical-toBotttom 35s linear infinite;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
}

.loops-slide-left img,
.loops-slide-right img {
    width: 230px;
    margin: 20px 0;
}

@keyframes slide-vertical {
    from {
        transform: translateY(0);
        /* Start at the top */
    }

    to {
        transform: translateY(-100%);
        /* Slide up by one full height */
    }
}

@keyframes slide-vertical-toBotttom {
    from {
        transform: translateY(-100%);
        /* Start at the top */
    }

    to {
        transform: translateY(0);
        /* Slide up by one full height */
    }
}


/* BRANDS SLIDER */

.partners {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    /* Optional: To distinguish this section */
}

.partners-content {
    width: 100%;
    max-width: 1350px;
    padding-top: 3rem;
    margin: 0 auto;
    position: relative;
}

.partners-content h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.brand-section,
.brand-slider-right-section {
    background-color: black;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

.brand-slider-right-section {
    background-color: var(--dull-white);
}



.brand-slider-left,
.brand-slider-right-section {
    white-space: nowrap;
    display: flex;
    justify-content: start;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.brand-items-left,
.brand-items-right {
    display: inline-flex;
    animation: 15s linear infinite;
}

.brand-items-left img,
.brand-items-right img {
    width: 120px;
    /* Adjusted size for better scaling */
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.brand-items-left img:hover,
.brand-items-right img:hover {
    transform: scale(1.1);
    /* Subtle zoom effect on hover */
}

.brand-items-left {
    animation-name: slide-left;
}

.brand-items-right {
    animation-name: slide-right;
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


/* TESTIMONIALS */
.testimonials {
    width: 100%;
    background-color: var(--dull-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-image: url(assets/images/New-bg-image.png);
    ;

    background-size: cover;
    background-position: center;
}

.testimonials-content {
    width: 100%;
    max-width: 1300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

.testimonials-content .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.testimonials-content .content .reviews-right {
    width: 30%;
}

.testimonials-content .content .reviews-left {
    width: 60%;
}

.testimonials-content .content .reviews-left .heading {
    /* font-size: 3rem; */
    text-transform: uppercase;
}

.swiper {
    width: 320px;
    height: 400px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    /* Ensures vertical stacking */
    align-items: center;
    justify-content: space-between;
    /* Optional */
    border-radius: 18px;
    position: relative;
    gap: 2rem;
    /* Vertical space between children (.review-text and .client) */
    padding: 20px;
    border: 2px solid var(--blue-one);
    background-color: var(--dull-white);
}

.swiper-slide .review-text {
    text-align: center;
}

.swiper-slide .para {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.swiper-slide .client {
    position: absolute;
    width: 90%;
    bottom: 6%;
}

.swiper-slide .client .client-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
    /* Horizontal spacing between client image and name */
}

.swiper-slide .client .client-info .client-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.swiper-slide .client .client-info .client-image img {
    width: 100%;
    height: 100%;
    /* Ensures the image covers the container */
    object-fit: cover;
}

.swiper-slide .client .client-info .client-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--jakarta-sans);
}

.swiper-slide .client .client-info .client-name h3 {
    margin-bottom: -20px;
}

.swiper-slide .client .client-info .client-name p {
    font-size: 14px;
}

/* TESTIMONIALS */

/* FIFTH SECTION */

.main-section {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    max-width: 1300px;
    width: 100%;
    padding-bottom: 5rem;
}

.content-section h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.content-section p {
    margin-bottom: 3rem;
    font-size: 1.2em;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;

    border: 2px solid var(--blue-one);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    padding: 3rem 20px 20px 20px;
    transition: 0.4s, transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
}

.content-section .card img {
    width: 80px;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.8rem;
    font-family: var(--poppins);
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.2em;
    font-family: var(--jakarta-sans);
    color: #666;
    line-height: 1.5;
}


/* FIFTH SECTION */

/* CTA BUTTON SECTION */
.cta-btn {
    width: 100%;
    background-color: black;
}

.cta-btn .cta-content {
    max-width: 1300px;
    padding: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-btn .cta-content a {
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.cta-btn .cta-content a p {
    position: relative;
    margin-top: 1rem;
    z-index: 1;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}

/* CTA BUTTON SECTION */

/* CASE STUDY ONE */

.case-one-container {
    width: 100%;
    background-color: black;
}

.case-one-content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    color: white;
    position: relative;

}

.case-one-visible {
    padding: 20px;
    border: 2px solid var(--blue-one);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.case-one-visile-right {
    width: 50%;
}

.case-one-visile-left img {
    /* width: 100%; */
    width: 300px;
    border-radius: 10px;
}

.case-one-visible-left {
    width: 50%;
}

/* .case-one-visible .business {
    background-color: var(--blue-one);
    width: fit-content;
    padding: 8px 17px;
    border-radius: 10px;
} */

.business {
    background-color: var(--blue-one);
    width: fit-content;
    padding: 8px 17px;
    border-radius: 10px;
}

.case-one-visible .heading {
    font-size: 2rem;
    margin: 1rem 0;
}

.case-one-visible p {
    margin: 1rem 0;
}


.case-one-visible ul {
    margin-left: 2rem;
}

.case-one-visible ul li {
    margin: 10px 0;
}

.case-one-visible ul li::marker {
    color: var(--blue-one);

    font-size: 1.5em;

}

.button-container {
    width: 301px;
    padding: 20px 30px;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    margin: 1rem 0;
}

.button-container:hover .button-wave {
    top: -120px;
}

.button-text {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
}

.button-wave {
    width: 351px;
    height: 200px;
    background-color: var(--blue-one);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: -80px;
    transition: 0.4s;
}

.button-wave::before,
.button-wave::after {
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.button-wave::before {
    border-radius: 45%;
    background-color: rgba(20, 20, 20, 1);
    animation: wave-animation 5s linear infinite;
}

.button-wave::after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: wave-animation 10s linear infinite;
}

@keyframes wave-animation {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* CASE ONE UNVISIBLE */

.case-one-unvisible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);

    display: none;
}

.case-one-unvisible.active {
    display: block;
}

.visible-content {
    width: 100%;
    max-width: 1300px;
    min-height: 10vh;
    max-height: 83vh;
    background-color: var(--blue-one);
    background-image: url(assets/images/New-bg-image.png);
    background-size: contain;
    background-position: top;
    color: var(--dull-white);
    overflow-x: auto;
    margin: 0 auto;
    margin-top: 4rem;
    transform: translateX(-8px);
    border-radius: 10px;
    padding: 2rem;

}

.visible-content .para {
    margin: 2rem 0;
}


.visible-content ul {
    margin-left: 2rem;
}

.visible-content ul .para {
    margin: 10px 0;
}



/* CASE ONE UNVISIBLE */

.close-icon {
    background-color: var(--blue-one);
    /* padding: 10px; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    position: absolute;
    top: 1%;
    right: 3%;
    cursor: pointer;
}

.fa-solid {
    color: white;
    background-color: var(--blue-one);
}

/* CASE STUDY ONE */



/* CASE Three STUDY */
/* CASE Three STUDY */



.case-three-container {
    width: 100%;
    background-color: black;
}

.case-three-content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    color: white;
    position: relative;

}

.case-three-visible {
    padding: 20px;
    border: 2px solid var(--blue-one);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}



.case-three-visible-left img {

    width: 300px;
    border-radius: 10px;

}



.case-three-visible .business {
    background-color: var(--blue-one);
    width: fit-content;
    padding: 8px 17px;
    border-radius: 10px;
}

.case-three-visible .heading {
    font-size: 2rem;
    margin: 1rem 0;
}

.case-three-visible p {
    margin: 1rem 0;
}


.case-three-visible ul {
    margin-left: 2rem;
}

.case-three-visible ul li {
    margin: 10px 0;
}

.case-three-visible ul li::marker {
    color: var(--blue-one);
    font-size: 1.5em;
}



/* CASE THREE UNVISIBLE */

.case-three-unvisible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);

    display: none;
}

.case-three-unvisible.active {
    display: block;
}

.visible-content {
    width: 100%;
    max-width: 1300px;
    min-height: 10vh;
    max-height: 83vh;
    background-color: var(--blue-one);

    overflow-x: auto;
    margin: 0 auto;
    margin-top: 4rem;
    transform: translateX(-8px);
    border-radius: 10px;
    padding: 2rem;

}



/* CASE THREE UNVISIBLE */




/* CASE THREE STUDY */
/* CASE THREE STUDY */




/* CASE TWO STUDY */

.case-two-container {
    width: 100%;
    background-color: black;
}

.case-two-content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    color: white;
    position: relative;

}

.case-two-visible {
    padding: 20px;
    border: 2px solid var(--blue-one);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}



.case-two-visible-left img {

    width: 300px;
    border-radius: 10px;

}



.case-two-visible .business {
    background-color: var(--blue-one);
    width: fit-content;
    padding: 8px 17px;
    border-radius: 10px;
}

.case-two-visible .heading {
    font-size: 2rem;
    margin: 1rem 0;
}

.case-two-visible p {
    margin: 1rem 0;
}


.case-two-visible ul {
    margin-left: 2rem;
}

.case-two-visible ul li {
    margin: 10px 0;
}

.case-two-visible ul li::marker {
    color: var(--blue-one);
    font-size: 1.5em;
}



/* CASE THREE UNVISIBLE */

.case-two-unvisible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);

    display: none;
}

.case-two-unvisible.active {
    display: block;
}

.visible-content {
    width: 100%;
    max-width: 1300px;
    min-height: 10vh;
    max-height: 83vh;
    background-color: rgb(37, 37, 37);

    overflow-x: auto;
    margin: 0 auto;
    margin-top: 4rem;
    transform: translateX(-8px);
    border-radius: 10px;
    padding: 2rem;

}

/* CASE TWO STUDY */




/* case study */

.before-after {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
    gap: 1rem;
}

.before {
    background-color: var(--dull-white);
    color: black;
    padding: 1rem 0;
    border-radius: 10px;

}

.after {
    background-color: var(--blue-one);
    padding: 1rem 0;
    border-radius: 10px;
    color: white;
}

.compare-headings {
    font-size: 30px;
    text-align: center;

}

/* .before .para {
    text-align: center;
    font-size: 3rem;
} */



/* case study */









/* Responsive Design */
@media (max-width: 768px) {
    .brand-section h1 {
        font-size: 1.5rem;
    }

    .brand-items-left img,
    .brand-items-right img {
        width: 80px;
        /* Smaller images on mobile */
        margin: 0 10px;
    }

    .card h3 {
        font-size: 1.25rem;
    }

    .card p {
        font-size: 0.9rem;
    }
}






@media (max-width:1024px) {
    .home-right {
        display: none;
    }

    .home-content {

        padding: 6rem 20px 0rem 20px;

    }

    .home-content .home-left {
        width: 100%;

    }



    .testimonials-content {
        flex-direction: column;
        padding: 0 20px;
        align-items: center;
        overflow-x: none;
    }

    .testimonials-content .content .reviews-left {
        width: 100%;
    }

    .testimonials-content .content .reviews-left .heading {

        text-align: center;
        margin-bottom: 1rem;
    }

    .testimonials-content .content .reviews-left .para {
        text-align: center;

        width: 50%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .testimonials-content .content {
        flex-direction: column;

        padding-top: 3rem;
        overflow: hidden;
    }

    .testimonials-content .content .reviews-right {
        width: 100%;
    }


    .content-section {

        width: 100%;
        padding: 0 20px;
        padding-top: 3rem;
    }

    .home-button {

        width: 68%;

    }



}

@media (max-width:768px) {
    .heading {
        font-size: 2.5rem;
        line-height: 3.1rem;
    }

    .home-button span {

        font-size: 14px;

    }

    .home-button {

        width: 71%;
        padding: 16px 30px;

    }

    .partners-content {
        padding: 0 20px;
        padding-top: 5rem;
    }

    .testimonials-content .content .reviews-left .para {

        width: 65%;

    }
}

@media (max-width:577px) {
    .heading {

        font-size: 2.3rem;
        line-height: 3rem;
    }

    .home-button {

        width: 100%;

    }

    .home-button span {

        font-size: 14px;

    }

    .testimonials-content .content .reviews-left .heading {
        white-space: pre-wrap;
    }
}

@media (max-width:480px) {
    .para {

        font-size: 1rem;
    }

    .heading {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .home-button {

        padding: 10px 18px;

    }

    .home-button span {
        position: relative;
        z-index: 1;
        color: white;
        font-size: 12px;
        letter-spacing: 2px;
    }



    .testimonials-content .content .reviews-left .para {

        width: 98%;

    }

    .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
        width: 300px !important;
    }

    .swiper-slide .para {
        font-size: 16px;


    }

    .home-left .para {
        margin-bottom: 37px;
    }

    .home-content .home-left .heading {

        margin-bottom: 37px;
    }

    .content-section p {

        font-size: 15px;
    }
}

@media (max-width:320px) {
    .para {
        font-size: 15px;
    }

    .heading {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
        width: 263px !important;
    }
}