* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    background-color: var(--dull-white);
}




*::-webkit-scrollbar {
    width: 10px;

}

*::-webkit-scrollbar-track {
    background-color: #1a1a1a;

}

*::-webkit-scrollbar-thumb {
    background-color: #00A4C8;
    border: 2px solid #1a1a1a;

}

*::-webkit-scrollbar-thumb:hover {
    background-color: #008bb0;

    border: 2px solid #1a1a1a;

}



.home-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

:root {
    --blue-one: #00A4C8;
    --blue-two: #002366;
    --blue-three: #001f3f;
    --blue-four: #003153;
    --jakarta-sans: "Plus Jakarta Sans", serif;
    --dull-white: #F2F2F2;
    --poppins: "Poppins", serif;
}

/* UNIVERSAL STYLES */

.home-button {
    padding: 20px 30px;
    font-family: var(--jakarta-sans);
    position: relative;
    font-weight: 600;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px;
    margin: 3rem 0;
    text-align: center;

    &:hover {
        .wave {
            top: -200px;
        }



    }

    .home-button:hover {
        background-color: var(--blue-one) !important;
    }

    span {
        position: relative;
        z-index: 1;
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .wave {
        width: 100%;
        height: 200px;
        background-color: var(--blue-one);
        box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        top: -80px;
        transition: 0.4s;

        &::before,
        &::after {
            width: 200%;
            height: 200%;
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -75%);
        }

        &::before {
            border-radius: 45%;
            background-color: rgba(20, 20, 20, 1);
            animation: wave 5s linear infinite;
        }

        &::after {
            border-radius: 40%;
            background-color: rgba(20, 20, 20, 0.5);
            animation: wave 10s linear infinite;
        }
    }
}

@keyframes wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.blue-text {
    color: var(--blue-one);
}

.heading {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    line-height: 3.5rem;
}

.sub-heading {
    font-family: "Plus Jakarta Sans", serif;

}

.para {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 16px;
    line-height: 24px;


}

/* UNIVERSAL STYLES */




/* HEADER */
.header {
    width: 100%;
    background-color: #000;
}

.header-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
}

/* HEADER */



/* HOME SECTION */
.home {
    width: 100%;
    background-color: #000;
    color: white;

}

.home-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 0 0rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.home-content .home-left p {
    font-family: var(--jakarta-sans) !important;
    font-size: 16px;
    line-height: 24px;
}


.home-content .home-right {
    width: 40%;
    z-index: 99;
    display: flex;
    overflow: hidden;

    flex-direction: column;
    position: relative;

}


.home-content .home-left {
    width: 50%;
    /* margin-top: -3rem; */
}



.home-content .home-left .heading {
    text-transform: uppercase;
    margin-bottom: 15px;
}



.home-content .home-left>p.para {
    margin-bottom: 20px;
}

.home-testimonial {
    background-color: var(--dull-white);
    width: 100%;
    min-height: 3rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
    gap: 2rem;
    border: 2px solid var(--blue-one);
}

.home-testimonial .test-img .image {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--blue-one);

}

.test-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.home-testimonial .test-img .image img {
    width: 100%;
}


.home-testimonial .text-content p {
    color: #666666;


}

.name-and-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666666;
    gap: 6rem;
}



.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    float: right;

}

.stars img {
    width: 20px;
}

/* HOME SECTION */





.home-right {


    text-align: center;
}


.slider-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    overflow: hidden;
}

.left-slider,
.right-slider {

    overflow-x: hidden;
    display: flex;

}

.loops-slide-left {
    animation: slide-vertical 50s linear infinite;
    display: flex;
    flex-direction: row;

    align-items: center;
}

.loops-slide-right {
    animation: slide-vertical-toBotttom 50s linear infinite;
    display: flex;
    flex-direction: row;

    align-items: center;
}

.loops-slide-left img,
.loops-slide-right img {
    width: 180px;
    margin: 20px 20px;
}

@keyframes slide-vertical {
    from {
        transform: translateX(0);

    }

    to {
        transform: translateX(-100%);

    }
}

@keyframes slide-vertical-toBotttom {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0);

    }
}


/* BRANDS SLIDER */

.partners {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;

}

.partners-content {
    width: 100%;
    max-width: 1350px;
    padding-top: 3rem;
    margin: 0 auto;
    position: relative;
}

.partners-content h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.brand-section,
.brand-slider-right-section {
    background-color: black;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

.brand-slider-right-section {
    background-color: var(--dull-white);
}



.brand-slider-left,
.brand-slider-right-section {
    white-space: nowrap;
    display: flex;
    justify-content: start;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.brand-items-left,
.brand-items-right {
    display: inline-flex;
    animation: 15s linear infinite;
}

.brand-items-left img,
.brand-items-right img {

    width: 130px;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.brand-items-left img:hover,
.brand-items-right img:hover {
    transform: scale(1.1);

}

.brand-items-left {
    animation-name: slide-left;
}

.brand-items-right {
    animation-name: slide-right;
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


/* TESTIMONIALS */
/* .testimonials {
    width: 100%;
    background-color: var(--dull-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-image: url(assets/images/New-bg-image.png);
    ;

    background-size: cover;
    background-position: center;
}

.testimonials-content {
    width: 100%;
    max-width: 1300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

.testimonials-content .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.testimonials-content .content .reviews-right {
    width: 30%;
}

.testimonials-content .content .reviews-left {
    width: 60%;
}

.testimonials-content .content .reviews-left .heading {

    text-transform: uppercase;
}

.swiper {
    width: 320px;
    height: 400px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    border-radius: 18px;
    position: relative;
    gap: 2rem;

    padding: 20px;
    border: 2px solid var(--blue-one);
    background-color: var(--dull-white);
}

.swiper-slide .review-text {
    text-align: center;
}

.swiper-slide .para {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.swiper-slide .client {
    position: absolute;
    width: 90%;
    bottom: 6%;
}

.swiper-slide .client .client-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;

}

.swiper-slide .client .client-info .client-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.swiper-slide .client .client-info .client-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.swiper-slide .client .client-info .client-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--jakarta-sans);
}

.swiper-slide .client .client-info .client-name h3 {
    margin-bottom: -20px;
}

.swiper-slide .client .client-info .client-name p {
    font-size: 14px;
}


TESTIMONIALS */

/* FIFTH SECTION */

.main-section {
    padding: 4rem 0 0rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    max-width: 1300px;
    width: 100%;
    padding-bottom: 5rem;
}

.content-section h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.main-section-subheading {
    text-align: center;
}

.content-section p {
    margin-bottom: 3rem;
    font-size: 1.2em;

}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;

    border: 2px solid var(--blue-one);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.);
    overflow: hidden;
    text-align: left;
    padding: 3rem 20px 20px 20px;
    transition: 0.4s, transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
}

.content-section .card img {
    width: 80px;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.8rem;
    font-family: var(--poppins);
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    font-family: var(--jakarta-sans);
    color: #666;
    line-height: 1.5;
}


/* FIFTH SECTION */

/* CTA BUTTON SECTION */
.cta-btn {
    width: 100%;
    background-color: black;
}

.cta-btn .cta-content {
    max-width: 1300px;
    padding: 3rem 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-btn .cta-content a {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

.cta-btn .cta-content a p {
    position: relative;
    margin-top: 1rem;
    z-index: 1;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}

/* CTA BUTTON SECTION */

/* CASE STUDY ONE */

.brand-logo {
    display: grid;
    place-items: center;

}

.brand-logo img {
    width: 200px;
    min-width: 50px;

}

.case-one-container {
    width: 100%;
    background-color: var(--dull-white);
}

.case-one-content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    padding-top: 4rem;
    color: white;
    position: relative;

}

.case-one-visible {
    padding: 20px;
    border: 2px solid var(--blue-one);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 1.5rem;
    background-color: black;
    position: relative;
}

.case-one-content>.outer-before-after,
.case-two-content>.outer-before-after,
.case-three-content>.outer-before-after {
    background-color: black;
}

.case-one-visile-right {
    width: 50%;
}

.case-one-visile-left img {

    width: 300px;
    border-radius: 10px;
}

.case-one-visible-left {
    width: 50%;
}



.business {
    background-color: var(--blue-one);
    width: fit-content;
    padding: 8px 17px;
    border-radius: 10px;
}

.case-one-visible .heading {
    font-size: 2rem;
    margin: 1rem 0;
}

.case-one-visible p {
    margin: 1rem 0;
}


.case-one-visible ul {
    margin-left: 2rem;
}

.case-one-visible ul li {
    margin: 10px 0;
}

.case-one-visible ul li::marker {
    color: var(--blue-one);
    font-size: 1.5em;

}

.button-container {
    width: 301px;
    padding: 20px 30px;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    margin: 1rem 0;
}

.button-container:hover .button-wave {
    top: -120px;
}

.button-text {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
}

.button-wave {
    width: 351px;
    height: 200px;
    background-color: var(--blue-one);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: -80px;
    transition: 0.4s;
}

.button-wave::before,
.button-wave::after {
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.button-wave::before {
    border-radius: 45%;
    background-color: rgba(20, 20, 20, 1);
    animation: wave-animation 5s linear infinite;
}

.button-wave::after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: wave-animation 10s linear infinite;
}

@keyframes wave-animation {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* CASE ONE UNVISIBLE */

.case-one-unvisible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);

    display: none;
}

.case-one-unvisible.active {
    display: block;
}

.visible-content {
    width: 100%;
    max-width: 1300px;
    min-height: 10vh;
    max-height: 83vh;
    background-image: url(assets/images/New-bg-image.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: var(--dull-white);
    overflow-x: auto;
    margin: 0 auto;
    margin-top: 4rem;
    transform: translateX(-8px);
    border-radius: 10px;
    padding: 2rem;

}

.visible-content .para {
    margin: 2rem 0;
}


.visible-content ul {
    margin-left: 2rem;
}

.visible-content ul .para {
    margin: 10px 0;
}



/* CASE ONE UNVISIBLE */

.close-icon {
    background-color: var(--blue-one);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    position: absolute;
    top: 1%;
    right: 3%;
    cursor: pointer;
}

.fa-solid {
    color: white;
    background-color: var(--blue-one);
}

/* CASE STUDY ONE */



/* CASE Three STUDY */
/* CASE Three STUDY */



.case-three-container {
    width: 100%;
    background-color: var(--dull-white);
}

.case-three-content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    color: white;
    position: relative;
    padding-bottom: 4rem;

}

.case-three-visible {
    padding: 20px;
    border: 2px solid var(--blue-one);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    align-items: center;
    gap: 1.5rem;
    background-color: black;
}



.case-three-visible-left img {

    width: 300px;
    border-radius: 10px;

}



.case-three-visible .business {
    background-color: var(--blue-one);
    width: fit-content;
    padding: 8px 17px;
    border-radius: 10px;
}

.case-three-visible .heading {
    font-size: 2rem;
    margin: 1rem 0;
}

.case-three-visible p {
    margin: 1rem 0;
}


.case-three-visible ul {
    margin-left: 2rem;
}

.case-three-visible ul li {
    margin: 10px 0;
}

.case-three-visible ul li::marker {
    color: var(--blue-one);
    font-size: 1.5em;
}



/* CASE THREE UNVISIBLE */

.case-three-unvisible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);

    display: none;
}

.case-three-unvisible.active {
    display: block;
}

.visible-content {
    width: 100%;
    max-width: 1300px;
    min-height: 10vh;
    max-height: 83vh;
    background-color: var(--blue-one);

    overflow-x: auto;
    margin: 0 auto;
    margin-top: 4rem;
    transform: translateX(-8px);
    border-radius: 10px;
    padding: 2rem;

}



/* CASE THREE UNVISIBLE */




/* CASE THREE STUDY */
/* CASE THREE STUDY */




/* CASE TWO STUDY */

.case-two-container {
    width: 100%;
    background-color: var(--dull-white);
}

.case-two-content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    color: white;
    position: relative;

}

.case-two-visible {
    padding: 20px;
    border: 2px solid var(--blue-one);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: black;
    position: relative;
    z-index: 2;
}



.case-two-visible-left img {

    width: 300px;
    border-radius: 10px;

}



.case-two-visible .business {
    background-color: var(--blue-one);
    width: fit-content;
    padding: 8px 17px;
    border-radius: 10px;
}

.case-two-visible .heading {
    font-size: 2rem;
    margin: 1rem 0;
}

.case-two-visible p {
    margin: 1rem 0;
}


.case-two-visible ul {
    margin-left: 2rem;
}

.case-two-visible ul li {
    margin: 10px 0;
}

.case-two-visible ul li::marker {
    color: var(--blue-one);
    font-size: 1.5em;
}



/* CASE THREE UNVISIBLE */

.case-two-unvisible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);

    display: none;
}

.case-two-unvisible.active {
    display: block;
}

.visible-content {
    width: 100%;
    max-width: 1300px;
    min-height: 10vh;
    max-height: 83vh;
    background-color: rgb(37, 37, 37);

    overflow-x: auto;
    margin: 0 auto;
    margin-top: 4rem;
    transform: translateX(-8px);
    border-radius: 10px;
    padding: 2rem;

}

/* CASE TWO STUDY */




/* case study */

.before-after {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
    gap: 1rem;
}

.before {
    background-color: var(--dull-white);
    color: black;
    padding: 1rem 0;
    border-radius: 10px;

}

.after {
    background-color: var(--blue-one);
    padding: 1rem 0;
    border-radius: 10px;
    color: white;
}

.compare-headings {
    font-size: 30px;
    text-align: center;

}

.outer-before-after {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    padding-top: 3rem;
    z-index: 1;
    position: relative;
    margin-top: -0.5rem;
    border: 2px solid var(--blue-one);
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}



.outer-before ul,
.outer-after ul {
    margin-left: 2rem;
    margin-top: 1rem;
}

.outer-before {
    padding-top: 0.5rem;
}



.case-one-visile-left,
.case-two-visible-left,
.case-three-visible-left {
    display: flex;
    gap: 1rem;
}

.compare-long {

    overflow: scroll;
    overflow-x: hidden;
    height: 500px;
    min-width: 249px;
    border-radius: 10px;



}

.compare-long-headings {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    margin-bottom: -1rem;

    font-size: 15px !important;
    background-color: var(--blue-one);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.compare-long img {
    width: 100%;
}

.outer-before .compare-long-headings {
    margin-top: -22px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.outer-after .compare-long-headings {
    margin-top: -30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    color: var(--blue-one);
    background-color: var(--dull-white);
    font-size: 20px !important;
}

.outer-after li.para,
.outer-before li.para {
    margin-bottom: 10px;
}

.compare-long::-webkit-scrollbar {
    width: 10px;
}

.compare-long::-webkit-scrollbar-thumb {
    background: var(--blue-one);
    border-radius: 10px;
}



.compare-long::-webkit-scrollbar-track {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.visible-content .outer-before-after {
    border: none;
}

.visible-content .outer-before .compare-long-headings {
    margin: 0 auto;
    margin-top: -22px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.outer-after .compare-long-headings {
    margin: 0 auto;
    margin-top: -30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    color: var(--blue-one);
    background-color: var(--dull-white);
    font-size: 20px !important;
}



/* case study */


/* LAST CARD SECTION */
.last-card-section {
    width: 100%;
    padding: 3rem 0;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 3rem;
}

.last-card-section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 164, 200, 0.1);
    z-index: 1;
}

.last-card-content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 3rem 2rem;
    border: 3px solid var(--blue-one);
    border-radius: 10px;
    position: relative;

}

.last-card-content .cta-btn a {
    background-color: black !important;
    z-index: 2;
    position: relative;
}

.last-card-content h2 {
    color: var(--dull-white);
    text-align: center;
    z-index: 2;
    position: relative;
}

.three-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    width: 100%;
    margin-bottom: 2rem;
    gap: 3rem;
}

.three-card {
    border: 2px solid var(--blue-one);
    width: 30%;
    z-index: 2;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 60vh;
    color: var(--dull-white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.three-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.three-card .three-text-content {
    padding: 14px 40px 40px 40px;
}

.three-card .three-text-content .three-card-desc {
    font-size: 17px;
}

.three-card h3.para {
    font-size: 26px;
    margin: 1rem 0;
    font-weight: 600;
    line-height: 38px;
}

.three-card .para {
    line-height: 30px;
}


.two-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.two-card {
    border: 2px solid var(--blue-one);
    width: 50%;
    padding: 2rem 20px;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 60vh;
    color: var(--dull-white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.last-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dull-white);
}

.last-cta h2 {
    margin-bottom: 3rem;
    text-align: center;
    color: black;
}

/* LAST CARD SECTION */


/* FOUR TESTIMONIALS SECTION */
.four-testimonials-section {
    width: 100%;
    background-color: black;
}

.four-test-content {
    width: 100%;
    max-width: 1300px;
    padding: 3rem 0;
    margin: 0 auto;
}

.test-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;

}

.test-heading,
.test-para {
    color: var(--dull-white);
    text-align: center;
}

.test-para {
    margin: 1rem 0;

}

.test-card-container .test-card {
    background-color: var(--dull-white);
    border-radius: 10px;
    padding: 40px;
    width: 47%;
    border: 2px solid var(--blue-one);
    color: black !important;
    box-shadow: 0 0 10px rgba(148, 221, 224, 0.5);
    transition: 0.5s ease;
}

.test-card-container .test-card p {
    color: #666666;
}

.test-card-container .test-card:hover {
    box-shadow: none;
    background-color: white;
}

.test-card .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin-bottom: 2rem;
}

.test-card .profile .profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.test-card .profile .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--blue-one);
}

.test-card .profile .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.test-card .profile .profile-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.test-card .profile .profile-stars img {
    width: 20px;
}

.test-card .profile .profile-image img {
    width: 100%;
}

/* FOUR TESTIMONIALS SECTION */

/* FOOTER */

footer {
    width: 100%;
    background-color: black;
    border-top: 2px solid var(--blue-one);
}

.footer-content {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--dull-white);
    padding: 2rem 0;
    margin: 0 auto;
}

.footer-content .footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    gap: 20px;
    margin-bottom: 1rem;
}

.footer-content .footer-social-links .social-link {
    border: 2px solid var(--blue-one);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-decoration: none;
    transition: .3s ease;
}

.footer-content .footer-social-links .social-link:hover {
    background-color: var(--blue-one);
}

.footer-content .footer-social-links .social-link i {
    font-size: 30px;
    background-color: transparent;
}

/* FOOTER */


@media (max-width:1024px) {
    .home-right {
        display: none !important;
    }

    .home-content {
        padding: 1rem 10px 0rem 10px;
    }

    .home-content .home-left {
        width: 100%;

    }



    .testimonials-content {
        flex-direction: column;
        padding: 0 20px;
        align-items: center;
        overflow-x: none;
    }

    .testimonials-content .content .reviews-left {
        width: 100%;
    }

    .testimonials-content .content .reviews-left .heading {

        text-align: center;
        margin-bottom: 1rem;
    }

    .testimonials-content .content .reviews-left .para {
        text-align: center;

        width: 50%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .testimonials-content .content {
        flex-direction: column;

        padding-top: 3rem;
        overflow: hidden;
    }

    .testimonials-content .content .reviews-right {
        width: 100%;
    }


    .content-section {
        width: 100%;
        padding: 0 10px;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .home-button {

        width: 68%;

    }

    .case-one-content {

        padding: 3rem 10px;

    }

    .case-two-content {

        padding: 3rem 10px;

    }

    .case-three-content {

        padding: 3rem 10px;

    }

    .cta-btn .cta-content {
        padding: 3rem 10px;
    }

    div#case-one-unvisible {
        padding: 0 10px;
    }

    .visible-content {

        transform: translateX(0px);

    }

    .compare-headings {
        font-size: 24px;

    }

    .before ul .para,
    .after ul .para {

        font-size: 14px;

    }

    h2.heading {
        font-size: 33px;
        line-height: 44px;
    }

    .last-card-content {

        padding: 3rem 20px;

    }

    .three-card {

        width: 100%;

    }

    .home-testimonial {

        width: 68%;

    }

    .four-test-content {

        padding: 3rem 5px;

    }

    .last-card-section {
        padding: 50px 10px;
    }

}

@media (max-width:768px) {

    .main-section {
        padding: 0rem 0 0rem 0;

    }

    .brand-section h1 {
        font-size: 1.5rem;
    }

    .brand-items-left img,
    .brand-items-right img {
        width: 80px;
        /* Smaller images on mobile */
        margin: 0 10px;
    }

    .card h3 {
        font-size: 1.25rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .heading {
        font-size: 2.5rem;
        line-height: 3.1rem;
    }

    .home-button span {

        font-size: 14px;

    }

    .home-button {

        width: 71%;
        padding: 16px 30px;

    }

    .partners-content {
        padding: 0 20px;
        padding-top: 0rem;
    }

    .testimonials-content .content .reviews-left .para {

        width: 65%;

    }

    .case-one-visible {

        flex-direction: column;

    }

    .case-two-visible {
        flex-direction: column;
    }

    .case-three-visible {
        flex-direction: column;
    }

    .outer-before-after {

        flex-direction: column;

    }

    .case-one-visile-left,
    .case-two-visible-left,
    .case-three-visible-left {
        width: 100%;
    }

    .case-one-visile-left img,
    .case-two-visible-left img,
    .case-three-visible-left img {
        width: 100%;
        height: 218px;
        object-fit: cover;
    }

    .case-two-visible-right {
        order: 2;
    }


    .case-two-visible-left {

        order: 1;
    }

    .compare-arrow img {
        width: 190px;
    }

    .outer-before-after {

        gap: 4rem;

    }

    .outer-before.before {
        order: 1;
        width: 100%;
    }

    .compare-arrow {
        transform: rotate(112deg);
        order: 2;
        margin: 3rem 2px;
    }

    .outer-after.after {
        order: 3;
        width: 100%;
    }

    .cta-btn .cta-content a p {


        font-size: 12px;

    }

    .cta-btn .cta-content a {
        width: 100%;
        margin: 0 auto;

    }

    .home-button span {


        font-size: 16px;

    }

    .before-after {

        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .before-after .before {
        order: 3;
    }

    .before-after .compare-arrow {
        order: 2;
    }

    .before-after .compare-arrow {
        transform: rotate(285deg);
        order: 2;
        margin: 3rem 2px;
    }

    .before-after .compare-arrow img {
        width: 142px;
    }



    .case-one-unvisible,
    .case-two-unvisible,
    .case-three-unvisible {
        padding: 0 10px;
    }

    .four-test-content {
        padding: 3rem 15px;
    }

    .test-card-container .test-card {

        padding: 18px;

    }

    .home-testimonial {
        width: 71%;
        margin: 0 auto;
        flex-direction: column;
    }

    .name-and-stars {

        justify-content: center;
        flex-direction: column;
        gap: 1rem !important;
    }

    .test-text {


        align-items: center;

    }

    .test-card-container .test-card {
        width: 100%;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .test-card .profile .profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .test-card .profile {
        margin-bottom: 1rem;
    }

    .test-card .profile .profile-name {
        align-items: center;
    }

    .case-two-content {
        padding: 0rem 10px;
    }

    .brand-logo {
        margin-bottom: 20px;

    }


}

@media (max-width:577px) {
    .heading {

        font-size: 2.3rem;
        line-height: 3rem;
    }

    .home-button {

        width: 100%;

    }

    .home-button span {

        font-size: 14px;

    }

    .testimonials-content .content .reviews-left .heading {
        white-space: pre-wrap;
    }

    .content-section .card img {
        width: 50px;
    }

    .two-card {

        width: 100%;

    }

    .name-and-stars {

        gap: 0rem;
    }

    .three-card .three-text-content {
        padding: 14px 15px 15px 15px;
    }

    .last-card-content {
        padding: 3rem 10px;
    }

    .three-card img {

        height: 190px;

    }
}

@media (max-width:480px) {
    .para {

        font-size: 14px;
    }

    .heading {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .home-button {

        padding: 10px 18px;

    }


    .home-content .home-left p {

        font-size: 13px;

    }


    .testimonials-content .content .reviews-left .para {

        width: 98%;

    }

    .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
        width: 300px !important;
    }

    .swiper-slide .para {
        font-size: 16px;


    }

    .home-left .para {
        margin-bottom: 37px;
    }

    .home-content .home-left .heading {

        margin-bottom: 37px;
    }

    .content-section p {

        font-size: 15px;
    }

    .business {
        font-size: 12px !important;
        padding: 8px 10px;
    }

    .button-container {
        width: 229px;
        padding: 10px 15px;

    }

    .button-container .button-text {
        font-size: 12px;
    }

    .button-wave {
        width: 229px;

    }

    .case-one-visible,
    .case-two-visible,
    .case-three-visible {
        padding: 20px 15px;
    }

    .case-one-visible .heading,
    .case-two-visible .heading,
    .case-three-visible .heading {
        font-size: 20px;
        line-height: 24px;
    }

    h2.heading {
        font-size: 20px;
        line-height: 24px;
    }

    .visible-content .para {

        font-size: 14px;
    }

    .before-after .compare-headings {
        font-size: 20px;
    }

    .visible-content {
        padding: 2rem 11px;
    }

    .visible-content ul {
        margin-left: 24px;
    }

    .compare-arrow img {
        width: 145px;
    }

    .outer-before-after {
        gap: 2rem;
    }



    .text-content.para {
        margin-bottom: 20px !important;
        text-align: center;
        order: 2;
    }

    .home-testimonial {

        flex-direction: column;

        gap: 20px;

    }

    .name-and-stars {
        flex-direction: column;
        gap: 0rem;
    }

    .name-and-stars .para {
        margin-bottom: 0px;
    }

    .three-card h3.para,
    .two-card h3.para {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .name-and-stars {
        order: 1;
        margin: 0 auto;
        gap: 0rem !important;
    }

    .home-testimonial {
        width: 100%;

    }

    .four-test-content {
        padding: 3rem 10px;
    }

    .three-card .three-text-content .three-card-desc {
        font-size: 14px;
    }

    .case-one-content {
        padding: 3rem 10px 1rem 10px;
    }

    .case-three-content {
        padding: 1rem 10px 3rem 10px;
    }

    .footer-content .footer-social-links .social-link {
        width: 50px;
        height: 50px;

    }

    .footer-content .footer-social-links .social-link i {
        font-size: 20px;
    }
}

@media (max-width:320px) {
    .para {
        font-size: 14px;
    }

    .heading {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
        width: 263px !important;
    }
}